*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .choice-section {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}
section .map-section{
    width: 60%;
    height: 100%;
}
section .map-section img{
    margin-top: 3%;
}
.lable{
    margin-bottom: 5px;
    
}

section .choice-section  input{
    width: 100%;
    padding: 5px 15px ;
    outline: none;
    font-weight:400;
    border: 1px solid #fcfcfc;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: #fff;
    border-radius:12px;
}
section .choice-section input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;

}
section .choice-section input[type="submit"]:hover{
    background: #e72767;
}
.full-form{
    height: 30%;
    margin-top:5%;
    margin: 4%;
    padding: 3%;
    border-radius: 10px;
    background: #d4eaf7;
}
section .result-div{
    width: 90%;
    position: relative;
    justify-content: center;
    margin-top: 5%;
    
}
section .result {
    display: flex;
    width: 55%;
    align-items: center;
    text-align: center;
    background: #d4eaf7;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
section .result img{
    width: 25%;
}
.result1-name{
    width: 55%;
    align-items: center;
    background: #e73225;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: #d4eaf7;
    justify-content: center;
}
.result h5 {
    margin-left: 10px;
}
.result1-name h4{
    margin-left: 50px;
}
.result1-name h3{
    margin-left: 20px;
}

@media(max-width: 878px){
    .result1-name {
        width: 91%;
        align-items: center;
        background: #e73225;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        color: #d4eaf7;
        justify-content: center;
    }
    section .result {
        display: flex;
        width: 91%;
        align-items: center;
        text-align: center;
        background: #d4eaf7;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    section .map-section img {
        margin-top: 3%;
        width: 100%;
        
    }
    section .choice-section {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
       
    }
}